body{
  font-family: 'Lora', serif;
  background-color: #A9ACC6;
}

img{
  width: 75%;
  border-radius: 20%;
  display: block;
  margin: auto;
}

h3{
  text-align: center;
}

.header{
  background-color: #E07A5F;
  text-align: center;
  width: 98%;
  padding: 15px;
}
.header h1{
  font-size: 38px;
}
.footer {
  margin: auto;
  width: 50%;
  height: auto;
  display: block;
  background-color: #E07A5F;
  text-align: center;

}
.container{
  margin-left: 50px;
  margin-right: 10px;
  width: 100%;
  display: inline-block;
}
.pet-column{
  width: 22.5%;
  margin: 5px;
  padding: 10px;
  border: 2px Solid #F2CC8F;
  border-radius: 10%;
  align-items: center;
  background-color: #F4F1DE;
  box-sizing: border-box;
  height: 525px;
  float: left;
}

.pet-column h3{
  font-size: 16pt;
  text-decoration: underline;
}